<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-check"></i>
                <h3>To Do List </h3>
            </div>
            <div class="widget-content">
                <ul class="to-do-list ui-sortable" id="sortable-todo">
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check" type="checkbox" value="None">
                            <label for="todo-check"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a></div>
                    </li>
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check1" type="checkbox" value="None">
                            <label for="todo-check1"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a> </div>
                    </li>
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check2" type="checkbox" value="None">
                            <label for="todo-check2"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a> </div>
                    </li>
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check3" type="checkbox" value="None">
                            <label for="todo-check3"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a> </div>
                    </li>
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check4" type="checkbox" value="None">
                            <label for="todo-check4"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a> </div>
                    </li>
                    <li class="clearfix">
                        <span class="drag-marker"> <i></i> </span>
                        <div class="todo-check pull-left">
                            <input id="todo-check5" type="checkbox" value="None">
                            <label for="todo-check5"></label>
                        </div>
                        <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                        <div class="todo-actionlist pull-right clearfix"> <a class="todo-done" href="#"><i class="fa fa-check"></i></a> <a class="todo-edit" href="#"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times"></i></a> </div>
                    </li>
                </ul>
                <div class="todo-action-bar">
                    <!--row start-->
                    <div class="row">
                        <div class="col-xs-3 btn-todo-select">
                            <button class="btn btn-info" type="submit"><i class="fa fa-check"></i> Select All</button>
                        </div>
                        <div class="col-xs-6 todo-search-wrap">
                            <input class="form-control todo-search pull-right" type="text" placeholder="Search">
                        </div>
                        <div class="col-xs-3 btn-add-task">
                            <button class="btn btn-default btn-success" type="submit"><i class="icon-plus"></i> Add Task</button>
                        </div>
                    </div>
                    <!--row end-->
                </div>
            </div>
        </div>
    </div>
</div>