<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">Appointments</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/Appointments"><i class="fa fa-align-justify"></i>Appointments List</a></li>
            <li role="presentation"><a href="/NewAppointment"><i class="fa fa-plus-circle"></i>New Appointment</a></li>
        </ul>

        <div class="panel panel-default">
            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-6">
                    <div class="row" style="padding-top: 10px; padding-left: 7px;">
                        <div class="col-md-6">
                            <small class="font-dark">Today's Appointments </small> <span class="label label-pill label-info">{{numTodayApps}}</span>
                        </div>
                        <div class="col-md-6">
                            <small class="font-dark">Tomorrow's Appointments </small> <span class="label label-pill label-success">{{numTomorrowApps}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <table class="table table-hover">
                <thead style="background-color: #f8f8f8;">
                    <tr>
                        <th style="width: 20%;" ng-click="sort('Date_Time')">App Date/Time<span class="fa sort-icon" ng-show="sortKey=='Date_Time'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 20%;" ng-click="sort('PatientName')">Patient's Name<span class="fa sort-icon" ng-show="sortKey=='PatientName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 20%;" ng-click="sort('DoctorName')">Doctor's Name<span class="fa sort-icon" ng-show="sortKey=='DoctorName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 20%;" ng-click="sort('Details')">App Details<span class="fa sort-icon" ng-show="sortKey=='Details'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="Appointments.length > 0" ng-class="{'info': Appointment.highlightTodayApps == '1', 'success': Appointment.highlightTomorrowApps == '1'}" dir-paginate="Appointment in Appointments | filter:search | orderBy:sortKey:reverse | itemsPerPage:7">
                        <td>{{Appointment.Appointments_Date_Time}}</td>
                        <td>{{Appointment.Patient_FirstName}} {{Appointment.Patient_LastName}}</td>
                        <td>{{Appointment.Doctors_FirstName}} {{Appointment.Doctors_LastName}}</td>
                        <td>{{Appointment.Appointments_Details}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ViewAppointment(Appointment.Appointments_ID)" onclick="ViewAppointment()"><i class="glyphicon glyphicon-new-window"></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="DeleteAppointment1(Appointment.Appointments_ID)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    <tr class="row alert alert-info text-center" ng-show="Appointments.length == 0"><td colspan="4"><b>System Message!</b> No appointment records to display.</td></tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <!--View Appointment Modal-->
        <div id="View_Appointment_Modal" class="modal fade">
            <form name="Form" novalidate>
                <div class="modal-dialog" style="width:40%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Appointment Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Date & Time:</h5></div>
                                <div class="col-md-8">
                                    <div class="col-md-5" style="padding:0px;">
                                        <div class="input-group date" id="date" style="padding:0px;">
                                            <input class="form-control" type="text" id="Appointments_Date" ng-value="Appointments_Date" name="Appointments_Date" ng-required="true"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5" style="padding:0px;">
                                        <div class="input-group date" id="datetime" style="padding:0px;">
                                            <input class="form-control" type=time min=9:30 max=17:00 step=900 id="Appointments_Time" ng-value="Appointments_Time" name="Appointments_Time" ng-required="true"><span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <div class="col-md-5" style="padding:0px;"><small ng-show="Form.Appointments_Date.$invalid && Form.Appointments_Date.$touched && Form.Appointments_Date.$error.required">Required field.<br></small></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5" style="padding:0px;"><small ng-show="Form.Appointments_Time.$invalid && Form.Appointments_Time.$touched && Form.Appointments_Time.$error.required">Required field.<br></small></div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Patient Name:</h5></div>
                                <div class="col-md-8"><select class="form-control disable_ViewAppointment readonly_ViewAppointment" ng-model="Patient_ID" name="PatientName" ng-change="changedValueGetPatientID(Patient_ID)" data-ng-options="patient as patient.PatientFullName for patient in Patients" ng-required="true">
                                                            <option value="">{{Patient_FirstName}} {{Patient_LastName}}</option></select></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <small ng-show="Form.PatientName.$invalid && Form.PatientName.$touched && Form.PatientName.$error.required">Required field.<br></small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Appointment Details:</h5></div>
                                <div class="col-md-8"><input class="form-control readonly_ViewAppointment" type="text" ng-value="Appointments_Details" ng-model="Appointments_Details" name="Appointments_Details" ng-required="true" ng-pattern="/^[0-9a-zA-Z''-'\s]{3,}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <small ng-show="Form.Appointments_Details.$invalid && Form.Appointments_Details.$touched && Form.Appointments_Details.$error.required">Required field.<br></small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Appointment Status:</h5></div>
                                <div class="col-md-8"><select class="form-control disable_ViewAppointment readonly_ViewAppointment" ng-model="AppStatus" name="Appointments_App_Status" ng-required="true" ng-change="changedValueGetApp_Status(AppStatus)" data-ng-options="App_Status as App_Status.Status for App_Status in App_Statusz">
                                                        <option value="">{{Appointments_App_Status}}</option>
                                                      </select></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <small ng-show="Form.Appointments_App_Status.$invalid && Form.Appointments_App_Status.$touched && Form.Appointments_App_Status.$error.required">Required field.<br></small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Doctor Name:</h5></div>
                                <div class="col-md-8"><select class="form-control disable_ViewAppointment readonly_ViewAppointment" ng-model="Doctors_ID" name="DoctorName" ng-required="true" ng-change="changedValueGetDoctors_ID(Doctors_ID)" data-ng-options="doctor as doctor.DoctorFullName for doctor in Doctors">
                                                            <option value="">{{Doctors_FirstName}} {{Doctors_LastName}}</option>
                                                       </select></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <small ng-show="Form.DoctorName.$invalid && Form.DoctorName.$touched && Form.DoctorName.$error.required">Required field.<br></small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="function_btnUpdateAppointment(Appointments_ID)" id="function_btnUpdateAppointment">Update</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteAppointment2()">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View Appointment Modal Ends-->       
    </div>
</div>
<script>
    $("#date").datepicker({
        format: 'yyyy-mm-dd'
    });
</script>
