<div>
    <div id="page-wrapper" ng-controller="AppointmentsController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">New Appointment Details</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Appointments"><i class="fa fa-align-justify"></i>Appointments List</a></li>
            <li role="presentation" class="active"><a href="/NewAppointment"><i class="fa fa-plus-circle"></i>New Appointment</a></li>
        </ul>
        
        <!--New Appointment Modal-->
        <form name="Form">
            <div style="margin:auto; width:50%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="row" style="margin-top:5px; margin-bottom:5px;">
                    <div class="col-md-3"><h5>Date & Time:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8">
                            <div class="row" style="padding-left:0px; padding-right:0px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date datetimepicker" onclick="DT()">
                                            <input class="form-control" type="text" ng-model="Date_Time">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px; margin-bottom:5px;">
                        <div class="col-md-3"><h5>Patient Name:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8"><select class="form-control" ng-model="Patient_ID">
                                                    <option value="">Choose Patient</option>
                                                </select></div>
                    </div>
                    <div class="row" style="margin-top:5px; margin-bottom:5px;">
                        <div class="col-md-3"><h5>Appointment Details:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8"><input class="form-control insert" type="text" ng-model="Details"></div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-3"><h5>Appointment Status:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="App_Status">
                                <option value="">Choose Status</option>
                                <option value="1">Approved</option>
                                <option value="3">Denied</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="NewAppointment(Date_Time, Patient_ID, Details, App_Status)">Add Appointment</button>
                </div>
            </div>
        </form><!--New Appointment Modal Ends-->
    </div>
</div>