<div>
    <div id="page-wrapper" ng-controller="AppointmentsController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">New Appointment Details</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Appointments"><i class="fa fa-align-justify"></i>Appointments List</a></li>
            <li role="presentation" class="active"><a href="/NewAppointment"><i class="fa fa-plus-circle"></i>New Appointment</a></li>
        </ul>
        
        <!--New Appointment Modal-->
        <form name="Form">
            <div style="margin:auto; width:50%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                        <div class="col-md-3"><h5>Date & Time:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8">
                            <div class="col-md-5" style="padding:0px;">
                                <div class="input-group date" id="date" style="padding:0px;">
                                    <input class="form-control insert" type="text" id="Appointments_Date" name="Appointments_Date" ng-required="true"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="padding:0px;">
                                <div class="input-group date" id="datetime" style="padding:0px;">
                                    <input class="form-control insert" type="text" id="Appointments_Time" name="Appointments_Time" ng-required="true"><span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:8px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <div class="col-md-5" style="padding:0px;"><small ng-show="Form.Appointments_Date.$invalid && Form.Appointments_Date.$touched && Form.Appointments_Date.$error.required">Required field.<br></small></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="padding:0px;"><small ng-show="Form.Appointments_Time.$invalid && Form.Appointments_Time.$touched && Form.Appointments_Time.$error.required">Required field.<br></small></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                        <div class="col-md-3"><h5>Patient Name:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8"><select class="form-control" ng-model="Patient_ID" name="PatientName" ng-change="changedValueGetPatientID(Patient_ID)" data-ng-options="patient as patient.PatientFullName for patient in Patients" ng-required="true">
                                                    <option value="">Select Patient</option>
                                                </select></div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:8px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <small ng-show="Form.PatientName.$invalid && Form.PatientName.$touched && Form.PatientName.$error.required">Required field.<br></small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                        <div class="col-md-3"><h5>Appointment Details:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8"><input class="form-control insert" type="text" ng-model="Details" name="Details" ng-required="true" ng-pattern="/^[0-9a-zA-Z''-'\s]{3,}$/"></div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:8px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <small ng-show="Form.Details.$invalid && Form.Details.$touched && Form.Details.$error.required">Required field.<br></small>
                            <small ng-show="Form.Details.$invalid && Form.Details.$touched && Form.Details.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                        <div class="col-md-3"><h5>Appointment Status:<span style="color:red">*</span></h5></div>
                        <div class="col-md-8"><select class="form-control" ng-model="App_Status" name="Appointments_App_Status" ng-required="true" ng-change="changedValueGetApp_Status(Appointments_App_Status)" data-ng-options="App_Status as App_Status.Status for App_Status in App_Statusz">
                                                    <option value="">Select App Status</option>
                                                </select></div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:8px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <small ng-show="Form.Appointments_App_Status.$invalid && Form.Appointments_App_Status.$touched && Form.Appointments_App_Status.$error.required">Required field.<br></small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                        <div class="col-md-3"><h5>Doctor Name:</h5></div>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="Doctors_ID" name="DoctorName" ng-required="true" ng-change="changedValueGetDoctors_ID(Doctors_ID)" data-ng-options="doctor as doctor.DoctorFullName for doctor in Doctors">
                                <option value="">Select Doctor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:8px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <small ng-show="Form.DoctorName.$invalid && Form.DoctorName.$touched && Form.DoctorName.$error.required">Required field.<br></small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="NewAppointment(Details, App_Status)" ng-disabled="Form.$invalid">Add Appointment</button>
                </div>
            </div>
        </form><!--New Appointment Modal Ends-->
    </div>
</div>
<script>
    $("#date").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: "bottom"
    });

    $(function () {
        $("#datetime").datetimepicker({
            format: 'HH:mm'
        });
    });
</script>