#div_Medical_History .modal-content
{
    height:800px;
    overflow:auto;
}

/*#div_Prescriptions .modal-content
{
    height:700px;
    overflow:auto;
    border-radius: 4px;
}*/

#div_Prescriptions_Update .modal-content
{
    height:600px;
    overflow:auto;
}