<div>
    <div id="page-wrapper" ng-controller="UserProfileController"><!--This page is not in use -->

        <div class="modal fade">
            <div class="modal-dialog" style="width:60%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-white" style="border-bottom:1px solid #e5e5e5">
                            <div class="panel-heading">
                                <h4 style="margin-left:90px;"><u>Profile Details</u></h4>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Firstname:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="text" name="Firstname" value="Jossy"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Lastname:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="text" name="Lastname" value="doctor"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Email Address:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="email" name="Email_Address" value="josie@gmail.com"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">ID Number:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="text" name="ID_Number" value="94072124589652"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Gender:</label>
                                            <div class="col-sm-6">
                                                <select name="Gender" class="form-control">
                                                    <option value=""></option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Cell Number:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="text" name="Cell_Number" value="0837135032"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Home Address:</label>
                                            <div class="col-sm-6"><input class="form-control readonly" type="text" name="Home_Address" value="94072124589652"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-offset-2 col-sm-6">
                                                <button name="Save_change" id="btnChangePassword" class="btn btn-info">Change Password</button>
                                                <button type="button" class="btn btn-default" id="btnCancel_PasswordChange">Cancel</button>
                                            </div>
                                        </div>
                                        <div id="div_ChangePassword">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2 " for="inputPassword">Current Password:</label>
                                                <div class="col-sm-6"><input name="current_pass" class="form-control" id="inputPassword" type="password" placeholder="Password"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="inputPassword">New Password:</label>
                                                <div class="col-sm-6"><input name="new_pass" class="validate[required] form-control" id="inputPassword" type="password" placeholder="New Password"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="inputPassword">Confirm Password:</label>
                                                <div class="col-sm-6"><input name="conform_pass" class="validate[required] form-control" id="inputPassword" type="password" placeholder="Conform Password"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="panel panel-white" style="border-bottom:1px solid #e5e5e5">
                                <div class="panel-heading">
                                    <h4 style="margin-left:90px;"><u>Practice Details</u></h4>
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Practice Name:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Name" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Phone Number:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Phone_Number" value="doctor"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Fax Number:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Fax_Number" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Email Address:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="email" name="Practice_Email_Address" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Street Address:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Street_Address" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Suburb:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Suburb" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">City:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_City" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Country:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Country" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Trading Times:</label>
                                                <div class="col-sm-6"><input class="form-control readonly" type="text" name="Practice_Trading_Times" value=""></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-offset-2 col-sm-6">
                                                    <button name="UpdateProfile" id="btnUpdateProfile" class="btn btn-success">Change Password</button>
                                                    <button type="button" class="btn btn-default" id="btnCancel_UpdateProfile">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="function_btnUpdateEmployee()" id="function_btnUpdateEmployee">Update</button>
                        <button type="button" class="btn btn-danger" onclick="function_btnDeleteEmployee()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
