<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">User Profile</h2>
            </div>
        </div>

        <div class="row">
            <div class="portlet light col-md-12" style="border: 1px solid #ddd; border-radius: 4px;">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-dark hide"></i>
                        <span class="caption-subject font-green-steel uppercase bold">Profile Details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row" style="padding-left:18px;">
                        <div class="col-md-4">
                            <div class="row">
                                <strong class="huge">{{FirstName}} {{LastName}}</strong>
                            </div>
                            <br><br>
                            <div class="row">
                                <label class="col-md-4 text-right">Email:</label>
                                <div class="col-md-8">{{SessionData_Email}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-4 text-right">Gender:</label>
                                <div class="col-md-8">{{Gender}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-4 text-right">DOB:</label>
                                <div class="col-md-8">{{DOB}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-4 text-right">ID Number:</label>
                                <div class="col-md-8">{{ID_Number}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-4 text-right">Cell Number:</label>
                                <div class="col-md-8">{{Cell_Number}}</div>
                            </div>
                        </div>

                        <div class="col-md-4"><br><br><br><br><br>
                            <div class="row">
                                <label><b>Physical Address</b></label>
                            </div> 
                            <div class="row">
                                <address>
                                    {{Street_Address}}<br>
                                    {{Suburb}}<br>
                                    {{City}}<br>
                                    {{Country}}
                                </address>
                            </div>                            
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <form name="Form" novalidate>
                                    <div class="div_ChangePassword">
                                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                            <h5 class="col-md-4">Current Password:</h5>
                                            <div class="col-md-8"><input class="form-control" type="password" placeholder="Current Password" name="CurrentPassword" ng-model="CurrentPassword" ng-required="true"></div>
                                        </div>
                                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <small ng-show="Form.CurrentPassword.$invalid && Form.CurrentPassword.$touched && Form.CurrentPassword.$error.required">Required field.<br></small>
                                                <small ng-show="Form.CurrentPassword.$invalid && Form.CurrentPassword.$touched && Form.CurrentPassword.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                            <h5 class="col-md-4">New Password:</h5>
                                            <div class="col-md-8"><input class="form-control" type="password" placeholder="New Password" name="NewPassword" ng-model="NewPassword" ng-required="true"></div>
                                        </div>
                                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <small ng-show="Form.NewPassword.$invalid && Form.NewPassword.$touched && Form.NewPassword.$error.required">Required field.<br></small>
                                                <small ng-show="Form.NewPassword.$invalid && Form.NewPassword.$touched && Form.NewPassword.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                            <h5 class="col-md-4">Confirm Password:</h5>
                                            <div class="col-md-8"><input class="form-control" type="password" placeholder="Confirm Password" name="ConfirmPassword" ng-model="ConfirmPassword" ng-required="true"></div>
                                        </div>
                                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <small ng-show="Form.ConfirmPassword.$invalid && Form.ConfirmPassword.$touched && Form.ConfirmPassword.$error.required">Required field.<br></small>
                                                <small ng-show="Form.ConfirmPassword.$invalid && Form.ConfirmPassword.$touched && Form.ConfirmPassword.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                        <div class="col-xs-offset-3 col-md-12"><br><br><br><br><br>
                                            <button class="btn btn-info btn-xs btnChangePassword" ng-click="btnChangePassword(CurrentPassword, NewPassword, ConfirmPassword)">Change Password</button>
                                            <button class="btn btn-default btn-xs btnCancel_PasswordChange" ng-click="btnCancel_PasswordChange()">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
