<div>
    <div id="page-wrapper" ng-controller="AccountingController">
        <!--Expenses Section Begins-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitleExpenses}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Accounting"><i class="fa fa-align-justify"></i>Invoice List</a></li>
            <li role="presentation"><a href="/NewPatientInvoice"><i class="fa fa-plus-circle"></i>New Invoice</a></li>
            <li role="presentation" class="active"><a href="/Expenses"><i class="fa fa-align-justify"></i>Expense List</a></li>
            <li role="presentation"><a href="/NewExpenceInvoice"><i class="fa fa-plus-circle"></i>New Expense</a></li>
        </ul>       

        <div class="panel panel-default">
            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <table class="table table-hover">
                <thead style="background-color: #f8f8f8;">
                    <tr>
                        <th style="width: 35%;" ng-click="sort('Description')">Expense Description<span class="fa sort-icon" ng-show="sortKey=='Description'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;" ng-click="sort('Date')">Date<span class="fa sort-icon" ng-show="sortKey=='Date'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;" ng-click="sort('Amount')">Amount (R)<span class="fa sort-icon" ng-show="sortKey=='Amount'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;" ng-click="sort('Practice Name')">Practice Name<span class="fa sort-icon" ng-show="sortKey=='Practice Name'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;">Action
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="Expense in Expenses | filter:search | orderBy:sortKey:reverse | itemsPerPage:5">
                        <td>{{Expense.Description}}</td>
                        <td>{{Expense.Date}}</td>
                        <td>{{Expense.Amount}}</td>
                        <td>{{Expense.Practice_Name}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ViewExpense(Expense.ID)" onclick="ViewExpense()"><i class="glyphicon glyphicon-new-window"></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="DeleteExpense1(Expense.ID)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <!--Expenses Section Ends -->   

        <!--View Expense Modal-->
        <div id="View_Expense_Modal" class="modal fade">
            <form name="Form">
                <div class="modal-dialog" style="width:50%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Expense Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Description:</h5></div>
                                <div class="col-md-8"><textarea class="form-control readonly_ViewExpense" name="Description" ng-model="Description" rows="2" cols="20" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-8"><small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                                      <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5>Date:</h5></div>
                                <div class="col-md-8"><div class="input-group date datepicker" style="padding:0px;">
                                                        <input class="form-control" type="text" ng-model="Date" ng-required="true" ng-readonly="true" style="background-color: transparent;"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    </div></div>
                            </div>                            
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Amount:</h5></div>
                                <div class="col-md-8"><input class="form-control readonly_ViewExpense" type="text" name="Amount" ng-model="Amount" ng-required="true" ng-pattern="/^[0-9]/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-8"><small ng-show="Form.Amount.$invalid && Form.Amount.$touched && Form.Amount.$error.required">Required field.<br></small>
                                                      <small ng-show="Form.Amount.$invalid && Form.Amount.$touched && Form.Amount.$error.pattern">Only Numeric letters allowed.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5 class="form-control-label">Practice Name:</h5></div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="Practice_Name" ng-readonly="true" style="background-color: transparent;"></div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:8px;">
                                <div class="col-md-2"><h5 class="form-control-label">Logged by:</h5></div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="User_Name" ng-readonly="true" style="background-color: transparent;"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="function_btnUpdateExpense()" id="function_btnUpdateExpense">Update</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteExpense2()">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View Expense Modal Ends--> 
    </div>
</div>