<div>
    <div id="page-wrapper" ng-controller="AccountingController">
        <!--Expenses Section Begins-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitleNewExpenseEntry}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Accounting"><i class="fa fa-align-justify"></i>Invoice List</a></li>
            <li role="presentation"><a href="/NewPatientInvoice"><i class="fa fa-plus-circle"></i>New Invoice</a></li>
            <li role="presentation"><a href="/Expenses"><i class="fa fa-align-justify"></i>Expense List</a></li>
            <li role="presentation" class="active"><a href="/NewExpenceInvoice"><i class="fa fa-plus-circle"></i>New Expense</a></li>
        </ul>

        <!--New Expense Modal-->
        <form name="Form">
            <div style="margin:auto; width:45%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Expense Description:<span style="color:red">*</span></h5>
                            <div class="col-md-8"><input class="form-control insert" type="text" ng-model="Description" name="Description" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only alphanumeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:8px; margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Status:<span style="color:red">*</span></h5>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="Status" name="Status" ng-required="true">
                                    <option value="Fully-Paid">Fully-Paid</option>
                                    <option value="Part-Paid">Part-Paid</option>
                                    <option value="Unpaid">Unpaid</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only alphanumeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:8px; margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Date:<span style="color:red">*</span></h5>
                            <div class="col-md-8"><div class="row" style="padding-left:15px; padding-right:15px;">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="input-group date datetimepicker" onclick="DT()">
                                                                    <input class="form-control" type="text" ng-model="Date" name="Date" ng-required="true" ng-pattern="/^(0?[1-9]|1\d|2[0-8]|29(?=[-]\d?\d[-](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![-]0?2)|31(?=[-]0?[13578]|[-]1[02]))[-](0?[1-9]|1[0-2])[-]([12]\d{3})$/">
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Date.$invalid && Form.Date.$touched && Form.Date.$error.required">Required field.<br></small>
                                <small ng-show="Form.Date.$invalid && Form.Date.$touched && Form.Date.$error.pattern">Only alphanumeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="InsertExpense(Description, Status, Date, Practice_ID, User_ID)">Create Expense Entry</button>
                </div>
            </div>
        </form>
    </div><!--New Expense Modal Ends-->
</div>