<div>
    <div id="page-wrapper">
        <!--Expenses Section Begins-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitleNewExpenseEntry}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Accounting"><i class="fa fa-align-justify"></i>Invoice List</a></li>
            <li role="presentation"><a href="/NewPatientInvoice"><i class="fa fa-plus-circle"></i>New Invoice</a></li>
            <li role="presentation"><a href="/Expenses"><i class="fa fa-align-justify"></i>Expense List</a></li>
            <li role="presentation" class="active"><a href="/NewExpenceInvoice"><i class="fa fa-plus-circle"></i>New Expense</a></li>
        </ul>

        <!--New Expense Modal-->
        <form name="Form">
            <div style="margin:auto; width:50%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <div class="col-md-2"><h5 class="form-control-label">Description:</h5></div>
                            <div class="col-md-8"><textarea class="form-control insert" name="Description" ng-model="_Description" rows="2" cols="20" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <div class="col-md-2"><h5 class="form-control-label">Amount:</h5></div>
                            <div class="col-md-8"><input class="form-control insert" type="text" name="Amount" ng-model="_Amount" ng-required="true" ng-pattern="/^[0-9]/"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Amount.$invalid && Form.Amount.$touched && Form.Amount.$error.required">Required field.<br></small>
                                <small ng-show="Form.Amount.$invalid && Form.Amount.$touched && Form.Amount.$error.pattern">Only Numeric letters allowed.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="NewExpense(_Description, _Amount)" ng-disabled="Form.$invalid">Create Expense Entry</button>
                </div>
            </div>
        </form>
    </div><!--New Expense Modal Ends-->
</div>