<div>
    <div id="page-wrapper">
        <!--Expenses Section Begins-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitleNewPatientInvoiceEntry}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Accounting"><i class="fa fa-align-justify"></i>Invoice List</a></li>
            <li role="presentation" class="active"><a href="/NewPatientInvoice"><i class="fa fa-plus-circle"></i>New Invoice</a></li>
            <li role="presentation"><a href="/Expenses"><i class="fa fa-align-justify"></i>Expense List</a></li>
            <li role="presentation"><a href="/NewExpenceInvoice"><i class="fa fa-plus-circle"></i>New Expense</a></li>
        </ul>

        <!--New Invoice Modal-->
        <form name="Form">
            <div style="margin:auto; width:45%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <h5 class="col-md-4">Patient:<span style="color:red">*</span></h5>
                            <div class="col-md-8"><select class="form-control insert" ng-model="_Patient_ID" name="PatientName" ng-change="changedValueGetPatientID(_Patient_ID)" data-ng-options="patient as patient.PatientFullName for patient in Patients" ng-required="true" ng-text-change="GetDiagnosis($scope.PatientID)">
                                                        <option value="">Select Patient</option>
                                                    </select></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><small ng-show="Form.Patient_ID.$invalid && Form.Patient_ID.$touched && Form.Patient_ID.$error.required">Required field.<br></small></div>
                        </div>
                        <div class="row" style="margin-top:4px; margin-bottom:0px;" ng-show="_Patient_ID != '0'">
                            <h5 class="col-md-4">Treatment Details:<span style="color:red">*</span></h5>
                            <div class="col-md-8"><select class="form-control insert" ng-model="_InvoiceSummary" name="InvoiceSummary" ng-change="changedValueGetInvoiceSummary(_InvoiceSummary)" data-ng-options="diagnosis as diagnosis.Diagnosis for diagnosis in Diagnosis" ng-required="true">
                                                        <option value="">Select Treatment Details</option>
                                                    </select></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><small ng-show="Form.InvoiceSummary.$invalid && Form.InvoiceSummary.$touched && Form.InvoiceSummary.$error.required">Required field.<br></small></div>
                        </div>
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <div class="col-md-4"><h5>Doctor Name:<span style="color:red">*</span></h5></div>
                            <div class="col-md-8"><select class="form-control" ng-model="Doctors_ID" name="DoctorName" ng-required="true" ng-change="changedValueGetDoctors_ID(Doctors_ID)" data-ng-options="doctor as doctor.DoctorFullName for doctor in Doctors">
                                                        <option value="">Select Doctor</option>
                                                    </select></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><small ng-show="Form.DoctorName.$invalid && Form.DoctorName.$touched && Form.DoctorName.$error.required">Required field.<br></small></div>
                        </div>
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <h5 class="col-sm-4">Consultation Fee:<span style="color:red">*</span></h5>
                            <div class="col-sm-8"><input class="form-control insert" type="text" ng-model="_Total" name="Total" ng-required="true" ng-pattern="/^[0-9'.']/"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><small ng-show="Form.Total.$invalid && Form.Total.$touched && Form.Total.$error.required">Required field.<br></small>
                                                  <small ng-show="Form.Total.$invalid && Form.Total.$touched && Form.Total.$error.pattern">Only numeric letters allowed.</small>
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px; margin-bottom:0px;">
                            <h5 class="col-sm-4">Paid Consultation Fee:<span style="color:red">*</span></h5>
                            <div class="col-sm-8"><input class="form-control insert" type="text" ng-model="_AmountPaid" name="AmountPaid" ng-required="true" ng-pattern="/^[0-9'.']/"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:8px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><small ng-show="Form.AmountPaid.$invalid && Form.AmountPaid.$touched && Form.AmountPaid.$error.required">Required field.<br></small>
                                                  <small ng-show="Form.AmountPaid.$invalid && Form.AmountPaid.$touched && Form.AmountPaid.$error.pattern">Only numeric letters allowed.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="NewInvoice(_Total, _AmountPaid)" ng-disabled="Form.$invalid">Create Invoice Entry</button>
                </div>
            </div>
        </form><!--New Invoice Modal Ends-->
    </div>
</div>