<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
      <add name="DB" connectionString="Data Source=SAL-THABANEN-P;Initial Catalog=DoConnect;Integrated Security=True"/>
    </connectionStrings>
  <appSettings>
    <add key="LogFile" value="C:\Users\Thabane.n\Source\Repos\DoConnect\DoConnect\DataClient\LogFiles\Log.json" />
  </appSettings>
</configuration>
