<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
      <add name="DB" connectionString="Data Source=SAL-THABANEN-P;Initial Catalog=DoConnect;Integrated Security=True"/>
      <add name="DoConnectEntities1" connectionString="metadata=res://*/DoConnectModel.csdl|res://*/DoConnectModel.ssdl|res://*/DoConnectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAL-THABANEN-P;initial catalog=DoConnect;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <appSettings>
    <add key="LogFile" value="C:\Users\Thabane.n\Source\Repos\DoConnect\DoConnect\DataClient\LogFiles\Log.json" />
  </appSettings>
</configuration>
