<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="app_id" value="a8fa93bc" />
    <add key="app_key" value="c5caf5e4be6f0071ce0ef21312eb243e" />
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=SAL-THABANEN-P;Initial Catalog=DoConnect;Integrated Security=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
