<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="app_id" value="152908b1"/>
    <add key="app_key" value="63a27bd689544c41f65f35f65bf4c3a2"/>
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=SAL-THABANEN-P;Initial Catalog=DoConnect;Integrated Security=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
