<div>
    <div id="page-wrapper" ng-controller="EventsController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">New Event Details</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/Events"><i class="fa fa-align-justify"></i>Events List</a></li>
            <li role="presentation" class="active"><a href="/NewEvent"><i class="fa fa-plus-circle"></i>New Event</a></li>
        </ul>

        <!--New Event Modal-->
        <form>
            <div style="margin:auto; width:60%">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="row" style="margin-top:5px; margin-bottom:5px;">
                        <div class="col-md-3"><h5 class="form-control-label">Title:</h5></div>
                        <div class="col-md-8"><input name="New_Title" class="form-control" type="text"></div>
                    </div>
                    <div class="row" style="margin-top:5px; margin-bottom:5px;">
                        <div class="col-md-3"><h5>Details:</h5></div>
                        <div class="col-md-8"><textarea class="form-control" rows="3" cols="20" name="New_Details"></textarea></div>
                    </div>
                    <div class="row" style="margin-top:5px; margin-bottom:0px;">
                        <div class="col-md-3"><h5 class="form-control-label">Start Date & Time:</h5></div>
                        <div class="col-md-8">
                            <div class="row" style="padding-left:0px; padding-right:0px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id='datetimepicker5' ng-click="DT_New_Event()">
                                            <input class="form-control" type="text">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:0px;">
                        <div class="col-md-3"><h5 class="form-control-label">End Date & Time:</h5></div>
                        <div class="col-md-8">
                            <div class="row" style="padding-left:0px; padding-right:0px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id='datetimepicker6' ng-click="DT_New_Event()">
                                            <input class="form-control" type="text">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0px; margin-bottom:5px;">
                        <div class="col-md-3"><h5>Appointment Status:</h5></div>
                        <div class="col-md-8">
                            <select class="form-control required input-sm" name="New_AppointmentStatus">
                                <option value="">Status</option>
                                <option value="1">Approve</option>
                                <option value="2">Decline</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="function_btnNewEvent()">Add Event</button>
                </div>
            </div>
        </form><!--New Event Modal Ends-->
    </div>
</div>
