<div>
    <div id="page-wrapper" ng-controller="MedicalAidController">
        
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">New Provider</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/MedicalAid"><i class="fa fa-align-justify"></i>Medical Aid Provider List</a></li>
            <li role="presentation" class="active"><a href="/NewMedicalAidProvider"><i class="fa fa-plus-circle"></i>New Provider</a></li>
        </ul>

        <!--New Medical Aid Provider Modal-->
        <div id="New_MedicalAidProvider_Modal">
            <form>
                <div style="margin:auto; width:85%;">
                    <div class="modal-header" style="border-bottom:0px;"></div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <input type="hidden" name="action" value="insert">
                            <input type="hidden" name="expense_id" value="0">
                            <input type="hidden" name="invoice_type" value="expense">

                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5 class="form-control-label">Provider Name:</h5></div>
                                <div class="col-md-4"><input class="form-control" type="text"></div>
                                <div class="col-md-2"><h5 class="form-control-label">Cell Number:</h5></div>
                                <div class="col-md-4"><input class="form-control" type="text"></div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5 class="form-control-label">Email Address:</h5></div>
                                <div class="col-md-4"><input class="form-control" type="text"></div>
                                <div class="col-md-2"><h5>Fax Number:</h5></div>
                                <div class="col-md-4"><input class="form-control" type="text"></div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5>Scheme Names:</h5></div>
                                <div class="col-md-4">
                                    <select class="form-control" size="4">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-2"><h5 class="form-control-label">Physical Address:</h5></div>
                                <div class="col-md-4"><textarea class="form-control" rows="3"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create Provider Entry" name="save_provider" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
