@section scripts{
    <script src="~/App/Controllers/DashboardController.js"></script>
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script data-require="ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
</head>
<body>  
    <div id="wrapper" ng-controller="DashboardController">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header"><img alt="Brand" class="img-rounded pull-left" width="50" height="50" src="~/Images/Logo/doctorIcon.png" />
                <a class="navbar-brand" href="#"><strong class="text-primary">DoConnect</strong></a>
            </div>

            <!-- navbar-top-links -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars fa-fw"></i></button>
                <a class="navbar-brand">Welcome: {{SessionData_FirstName}} {{SessionData_LastName}}</a>
            </div>
            
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li dir-paginate="Message in Messages | filter:search | orderBy:sortKey:reverse | itemsPerPage:5" ng-class="{'info': Message.ReadStatus == '1'}" style="border-bottom: 1px solid #eee;">
                            <a href="#">
                                <div>
                                    <strong>{{Message.SenderEmail}}</strong>
                                    <span class="pull-right text-muted">
                                        <em>{{Message.Date}}</em>
                                    </span>
                                </div>
                                <div>{{Message.Description}}</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="/Messages">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"> 
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/UserProfile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/Login"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li><a href="/Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                        <li><a href="/Messages"><i class="fa fa-envelope-o fa-fw"></i> Messages <span class="badge badge-success pull-right"></span></a></li>
                        <li><a href="/Patients"><i class="fa fa-users fa-fw"></i> Patients</a></li>
                        <li id="doctor_AssistentControls"><a href="/Employees"><i class="fa fa-female fa-fw"></i> Employees</a></li>
                        <li><a href="/Appointments"><i class="fa fa-calendar-o fa-fw"></i> Appointments</a></li>
                        <li><a href="/Practices"><i class="fa fa-hospital-o fa-fw"></i> Practices</a></li>
                        <li><a href="/Accounting"><i class="fa fa-money fa-fw"></i> Accounting</a></li>
                        <li><a href="/MedicalAid"><i class="fa fa-plus-square-o fa-fw"></i> Medical Aid</a></li>
                        <li><a href="/MedicineInventory"><i class="fa fa-medkit fa-fw"></i> Medicine Inventory</a></li>
                        <li><a href="/DiagnosisExpertSystem"><i class="fa fa-stethoscope fa-fw"></i> Diagnosis Expert System</a></li>
                        <li><a href="/Reports"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @{
        ViewBag.Title = "DoConnect";
    }
    <div>
        <div ng-view>

        </div>
    </div>
</body>

