<div id="page-wrapper" ng-controller="AppointmentsController">
    <div class="row">
        <div class="span4" />
        <div class="span4  center-block">
            <h2 class="page-header text-primary center-block">Appointments</h2>
        </div>
        <div class="span4" />
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation">
            <label for="searchKey">Search here: </label>
            <input type="text" class="form-control" ng-model="searchKey" placeholder="Johannesburg">
        </li>

        <li role="presentation">
            <label for="disabledSelect">Disabled select menu</label>
            <select id="disabledSelect" class="form-control">
                <option>Name</option>
                <option>Phone_Number</option>
                <option>Fax Number</option>
                <option>Physical Address</option>
                <option>Trading Times</option>
            </select>
        </li>
        <li role="presentation">
            <a href="/AppointmentsCalendar" class="btn btn-default pull-right lead" role="button"><i class="icon-calendar"></i></a>
        </li>
    </ul>

    <div class="row">
        <div class="span4">
            <a href="#New_Appointment_Modal" class="btn btn-default" role="button" data-toggle="modal"><i class="icon-plus"></i> Add Appointment</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover pull-left">
            <thead style="background-color: #f8f8f8;">
                <tr>
                    <th style="width: 20%;" ng-click="sort('Appointments_Date_Time')">Date<span ng-show="sortKey=='Phone_Number'"></span></th>
                    <th style="width: 30%;" ng-click="sort('Appointments_Details')">Describtion<span ng-show="sortKey=='Fax_Number'"></span></th>
                    <th style="width: 20%;" ng-click="sort('Doctors_FirstName')">Doctors Name<span ng-show="sortKey=='Street_Address'"></span></th>
                    <th style="width: 20%;" ng-click="sort('Practice_Name')">Practice Name<span ng-show="sortKey=='Trading_Times'"></span></th>
                    <th style="width: 10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Appointment in Appointments | filter : searchKey | limitTo : getlimitTo() | orderBy : getSortKey()">
                    <td>{{Appointment.Appointments_Date_Time}}</td>
                    <td>{{Appointment.Appointments_Details}}</td>
                    <td><a ng-click="ViewDoctor(Appointment.Doctors_ID)">{{Appointment.Doctors_FirstName}} {{Appointment.Doctors_LastName}}</a></td>
                    <td><a ng-click="ViewPractice(Appointment.Practice_ID)">{{Appointment.Practice_Name}}</a></td>
                    <td>
                        <button class="btn btn-primary btn-xs" ng-click="ViewAppointment(Appointment.Appointments_ID)"><i class="icon-eye-open"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="span8 pull-left">
            <div class="pagination">
                <ul>
                    <li><a ng-click="setlimitTo(5)">5</a></li>
                    <li><a ng-click="setlimitTo(10)">10</a></li>
                    <li><a ng-click="setlimitTo(50)">50</a></li>
                    <li><a ng-click="setlimitTo(100)">100</a></li>
                    <li><a ng-click="setlimitTo(1000000)">all</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--View Appointments Modal-->
    <div id="View_Appointments_Modal" class="modal fade">
        <form name="Form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-primary">Appointments Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-top:5px; margin-bottom:5px;">
                            <h5 class="col-md-3">Date:</h5>
                            <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-value="Name" ng-model="Name"></div>
                        </div>
                        <div class="row" style="margin-top:5px; margin-bottom:5px;">
                            <h5 class="col-md-3">Description:</h5>
                            <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-value="Phone_Number" ng-model="Phone_Number"></div>
                        </div>
                        <div class="row" style="margin-top:5px; margin-bottom:5px;">
                            <h5 class="col-md-3">Doctor:</h5>
                            <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-value="Fax_Number" ng-model="Fax_Number"></div>
                        </div>
                        <div class="row" style="margin-top:5px; margin-bottom:5px;">
                            <h5 class="col-md-3">Practice:</h5>
                            <div class="col-md-8"><input class="form-control readonly_ViewPractice" rows="3" cols="20" type="text" ng-value="Street_Address" ng-model="Street_Address"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!--View Appointments Modal Ends-->
    <!--View Doctor Modal-->
    <div id="View_Doctor_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Doctor Details</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="FirstName">First Name</label>
                        <div class="controls"> <input type="text" ng-model="FirstName" disabled placeholder="first name"> </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="LastName">Last Name</label>
                        <div class="controls"> <input type="text" ng-model="LastName" disabled placeholder="last name"> </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Email">Email</label>
                        <div class="controls"> <input type="text" ng-model="Email" disabled placeholder="email"> </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Gender">Gender</label>
                        <div class="controls"> <input type="text" ng-model="Gender" disabled placeholder="gender"> </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Address">Address</label>
                        <div class="controls"> <input type="text" ng-model="Address" disabled placeholder="Address"> </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Job_Title">Job Title</label>
                        <div class="controls"> <input type="text" ng-model="Job_Title" disabled placeholder="job title"> </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div><!--View Doctor Modal Ends-->
    <!--View Pratice Modal-->
    <div id="View_Practice_Modal" class="modal fade">
        <form name="Form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-primary">Practice Details</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="FirstName">Name</label>
                                <div class="controls"> <input type="text" ng-value="Name" ng-model="Name" disabled placeholder="name"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Phone_Number">Phone Number</label>
                                <div class="controls"> <input type="text" ng-value="Phone_Number" ng-model="Phone_Number" disabled placeholder="phone number"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Fax_Number">Fax Number</label>
                                <div class="controls"> <input type="text" ng-value="Fax_Number" ng-model="Fax_Number" disabled placeholder="fax nNumber"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Street_Address">Street Address</label>
                                <div class="controls"> <input type="text" ng-value="Street_Address" ng-model="Street_Address" disabled placeholder="street address"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Suburb">Suburb</label>
                                <div class="controls"> <input type="text" ng-value="Suburb" ng-model="Suburb" disabled placeholder="suburb"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="City">City</label>
                                <div class="controls"> <input type="text" ng-value="City" ng-model="City" disabled placeholder="city"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Country">Country</label>
                                <div class="controls"> <input type="text" ng-value="Country" ng-model="Country" disabled placeholder="country"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Trading_Times">Trading Times</label>
                                <div class="controls"> <input type="text" ng-value="Trading_Times" ng-model="Trading_Times" disabled placeholder="trading times"> </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!--View Pratice Modal Ends-->
    <!--New Appointment Modal-->
    <div id="New_Appointment_Modal" class="modal fade">
        <form name="Form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-primary">New Appointment</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="Details">Appointment Reason</label>
                                <div class="controls"> <input type="text" ng-value="Details" ng-model="Details" placeholder="reason"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Date_Time">Date Time</label>
                                <div class="controls date" id="date"> <input type="text" ng-value="Date_Time" ng-model="Date_Time" placeholder="date time"> </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="NewAppointment(Date_Time, Details);"><span class="icon-save"></span> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!--New Appointment Modal Ends-->
    <script>
        $("#date").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            orientation: "bottom",
            minDate: 0
        });
    </script>
</div>