<div>
    <div id="page-wrapper" ng-controller="MedicineInventoryController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">Medicine Inventory</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/MedicineInventory"><i class="fa fa-align-justify"></i>Medicine List</a></li>
            <li role="presentation"><a href="/NewMedicine"><i class="fa fa-plus-circle"></i>Add Medicine</a></li>
        </ul>
        
        <div class="panel panel-default">
            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <table class="table table-hover">
                <thead style="background-color: #f8f8f8;">
                    <tr>
                        <th style="width: 25%;" ng-click="sort('DrugName')">Drug Name<span class="fa sort-icon" ng-show="sortKey=='DrugName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 10%;" ng-click="sort('DrugConcentration')">Drug Concentration<span class="fa sort-icon" ng-show="sortKey=='DrugConcentration'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 10%;" ng-click="sort('QuantityInStock')">Qty In Stock<span class="fa sort-icon" ng-show="sortKey=='QuantityInStock'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>                        
                        <th style="width: 15%;" ng-click="sort('ExpiryDate')">Expiry Date<span class="fa sort-icon" ng-show="sortKey=='ExpiryDate'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 25%;" ng-click="sort('PracticeName')">Practice Name<span class="fa sort-icon" ng-show="sortKey=='PracticeName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="Medicine in Medicines | filter:search | orderBy:sortKey:reverse | itemsPerPage:7">
                        <td>{{Medicine.DrugName}}</td>
                        <td>{{Medicine.DrugConcentration}}</td>
                        <td>{{Medicine.QuantityInStock}}</td>
                        <td>{{Medicine.ExpiryDate}}</td>
                        <td>{{Medicine.PracticeName}}</td>                        
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ViewMedicine(Medicine.ID)" onclick="ViewMedicine()"><i class="glyphicon glyphicon-new-window"></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="DeleteMedicine1(Medicine.ID)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <!--View Medicine Modal-->
        <div id="View_Medicine_Modal" class="modal fade">
            <form name="Form">
                <div class="modal-dialog" style="width:60%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Medicine Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Drug Name:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewMedicine" type="text" ng-model="DrugName" name="DrugName" ng-required="true" ng-pattern="/^[a-zA-Z.,'-'\s]{3,40}$/"></div>
                                <div class="col-md-2"><h5>Description:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewMedicine" type="text" ng-model="Description" name="Description" ng-required="true" ng-pattern="/^[0-9a-zA-Z\.s]{3,40}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                                        <small ng-show="Form.DrugName.$invalid && Form.DrugName.$touched && Form.DrugName.$error.required">Required field.<br></small>
                                                        <small ng-show="Form.DrugName.$invalid && Form.DrugName.$touched && Form.DrugName.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                                        <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                                        <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only numeric and alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Drug Concentration:</h5></div>
                                <div class="col-md-4">
                                    <div class="input-group date datepicker" style="padding:0px;"><input class="form-control readonly_ViewMedicine" type="text" ng-model="DrugConcentration" name="DrugConcentration" ng-required="true" ng-pattern="/^[0-9]{1,}$/"><span class="input-group-addon">mg</span></div>
                                </div>
                                <div class="col-md-2"><h5 class="form-control-label">Quantity In Stock:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewMedicine" type="text" ng-model="QuantityInStock" name="QuantityInStock" ng-required="true" ng-pattern="/^[0-9]{1,}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4"><small ng-show="Form.DrugConcentration.$invalid && Form.DrugConcentration.$touched && Form.DrugConcentration.$error.required">Required field.<br></small>
                                                       <small ng-show="Form.DrugConcentration.$invalid && Form.DrugConcentration.$touched && Form.DrugConcentration.$error.pattern">Only numeric letters allowed and atleast 1 charactors long.</small></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.QuantityInStock.$invalid && Form.QuantityInStock.$touched && Form.QuantityInStock.$error.required">Required field.<br></small>
                                    <small ng-show="Form.QuantityInStock.$invalid && Form.QuantityInStock.$touched && Form.QuantityInStock.$error.pattern">Only numeric letters allowed and atleast 1 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5 class="form-control-label">Date Of Purchase:</h5></div>
                                <div class="col-md-4"><div class="input-group date datepicker" style="padding:0px;">
                                                            <input class="form-control" type="text" ng-model="PurchaseDate" ng-readonly="true" style="background-color: transparent;"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        </div></div>
                                <div class="col-md-2"><h5>Expiry Date:</h5></div>
                                <div class="col-md-4"><div class="input-group date datepicker" style="padding:0px;">
                                                            <input class="form-control" type="text" ng-model="ExpiryDate" ng-readonly="true" style="background-color: transparent;"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        </div></div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:4px;">
                                <div class="col-md-2"><h5>Practice Name:</h5></div>
                                <div class="col-md-4"><input class="form-control" type="text"  ng-model="PracticeName" ng-readonly="true" style="background-color: transparent;"></div>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="function_btnUpdateMedicine()" id="function_btnUpdateMedicine">Update</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteMedicine2()">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View Medicine Modal Ends--> 
    </div>
</div>