<div>
    <div id="page-wrapper" ng-controller="MedicineInventoryController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">Add Medicine</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/MedicineInventory"><i class="fa fa-align-justify"></i>Medicine List</a></li>
            <li role="presentation" class="active"><a href="/NewMedicine"><i class="fa fa-plus-circle"></i>Add Medicine</a></li>
        </ul>        
        
        <form name="Form"><!-- Remember to insert practice ID -->
            <div style="margin:auto; width:80%;">
                <div class="modal-header" style="border-bottom:0px;"></div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" style="margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Drug Name<span style="color:red">*</span></h5>
                            <div class="col-md-8"><input class="form-control insert" ng-model="_DrugName" name="DrugName" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/" type="text"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:15px">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.DrugName.$invalid && Form.DrugName.$touched && Form.DrugName.$error.required">Required field.<br></small>
                                <small ng-show="Form.DrugName.$invalid && Form.DrugName.$touched && Form.DrugName.$error.pattern">Only alphanumeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Description<span style="color:red">*</span></h5>
                            <div class="col-md-8"><input class="form-control insert" ng-model="_Description" name="Description" ng-required="true" ng-pattern="/^[0-9a-zA-Z\.s]{3,40}$/" type="text"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:15px">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.required">Required field.<br></small>
                                <small ng-show="Form.Description.$invalid && Form.Description.$touched && Form.Description.$error.pattern">Only alphanumeric and numeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Drug Concentration<span style="color:red">*</span></h5>
                            <div class="col-md-8">
                                <div class="input-group date" style="padding:0px;"><input class="form-control insert" type="text" ng-model="_DrugConcentration" name="DrugConcentration" ng-required="true" ng-pattern="/^[0-9]{1,}$/"><span class="input-group-addon">mg</span></div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:15px">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.DrugConcentration.$invalid && Form.DrugConcentration.$touched && Form.DrugConcentration.$error.required">Required field.<br></small>
                                <small ng-show="Form.DrugConcentration.$invalid && Form.DrugConcentration.$touched && Form.DrugConcentration.$error.pattern">Only numeric letters allowed and atleast 3 charactors.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Quantity Purchased<span style="color:red">*</span></h5>
                            <div class="col-md-8"><input class="form-control insert" ng-model="_QuantityPurchased" name="QuantityPurchased" ng-required="true" ng-pattern="/^[0-9]{1,}$/" type="text"></div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:15px">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.QuantityPurchased.$invalid && Form.QuantityPurchased.$touched && Form.QuantityPurchased.$error.required">Required field.<br></small>
                                <small ng-show="Form.QuantityPurchased.$invalid && Form.QuantityPurchased.$touched && Form.QuantityPurchased.$error.pattern">Only numeric letters allowed.</small>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0px;">
                            <h5 class="col-md-4" style="text-align:left">Expiry Date<span style="color:red">*</span></h5>
                            <div class="col-md-8"><div class="input-group date datepicker" style="padding:0px;">
                                                        <input class="form-control insert" type="text" id="ExpiryDate" name="ExpiryDate" data-date-format="yyyy-mm-dd" ng-required="true" ng-readonly="true" style="background-color: transparent"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:0px; margin-bottom:15px">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <small ng-show="Form.ExpiryDate.$invalid && Form.ExpiryDate.$touched && Form.ExpiryDate.$error.required">Required field.<br></small>
                                <small ng-show="Form.ExpiryDate.$invalid && Form.ExpiryDate.$touched && Form.ExpiryDate.$error.pattern">Incorrect date format. (dd-mm-yyyy)</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="NewMedicine(_DrugName, _Description, _DrugConcentration, _QuantityPurchased)" ng-disabled="Form.$invalid">Save</button>
                 </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(".datepicker").datepicker({ format: 'yyyy-mm-dd' });
</script>