<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">Employees</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/Employees"><i class="fa fa-align-justify"></i>Employees List</a></li>
            <li role="presentation"><a href="/NewEmployee"><i class="fa fa-plus-circle"></i>New Employee</a></li>
        </ul>

        <div class="panel panel-default">
            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <table class="table table-hover">
                <thead style="background-color: #f8f8f8;">
                    <tr>
                        <th style="width: 15%;" ng-click="sort('FirstName')">First Name<span class="fa sort-icon" ng-show="sortKey=='FirstName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;" ng-click="sort('LastName')">Last Name<span class="fa sort-icon" ng-show="sortKey=='LastName'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 20%;" ng-click="sort('Email')">Email Address<span class="fa sort-icon" ng-show="sortKey=='Email'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 20%;" ng-click="sort('ID_Number')">ID Number<span class="fa sort-icon" ng-show="sortKey=='ID_Number'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;" ng-click="sort('Employee_Type')">Employee Type<span class="fa sort-icon" ng-show="sortKey=='Employee_Type'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th style="width: 15%;">Action
                    </tr>
                </thead>
                <tbody>                    
                    <tr ng-show="Employees.length > 0" dir-paginate="Employee in Employees | filter:search | orderBy:sortKey:reverse | itemsPerPage:7">                        
                        <td>{{Employee.FirstName}}</td>
                        <td>{{Employee.LastName}}</td>
                        <td>{{Employee.Email}}</td>
                        <td>{{Employee.ID_Number}}</td>
                        <td>{{Employee.Employee_Type}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ViewEmployee(Employee.ID)" onclick="ViewEmployee()"><i class="glyphicon glyphicon-new-window"></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="DeleteEmployee1(Employee.User_ID, Employee.FirstName +' '+ Employee.LastName)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    <tr class="row alert alert-info text-center" ng-show="Employees.length == 0"><td colspan="4"><b>System Message!</b> No employee records to display.</td></tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <!--View Employee Modal-->
        <div id="View_Employee_Modal" class="modal fade">
            <form name="Form" novalidate>
                <div class="modal-dialog" style="width:60%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Employee Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">First Name:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="FirstName" ng-value="FirstName" ng-model="FirstName" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                                <div class="col-md-2"><h5>Cell Number:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="Phone" ng-value="Phone" ng-model="Phone" ng-required="true" ng-pattern="/^[0-9]{10,10}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.FirstName.$invalid && Form.FirstName.$touched && Form.FirstName.$error.required">Required field.<br></small>
                                    <small ng-show="Form.FirstName.$invalid && Form.FirstName.$touched && Form.FirstName.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Phone.$invalid && Form.Phone.$touched && Form.Phone.$error.required">Required field.<br></small>
                                    <small ng-show="Form.Phone.$invalid && Form.Phone.$touched && Form.Phone.$error.pattern">Only numeric letters allowed and 10 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Last Name:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="LastName" ng-value="LastName" ng-model="LastName" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                                <div class="col-md-2"><h5>Street Address:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="Street_Address" ng-value="Street_Address" ng-model="Street_Address" ng-required="true" ng-pattern="/^[0-9a-zA-Z''-'\s]{3,}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.LastName.$invalid && Form.LastName.$touched && Form.LastName.$error.required">Required field.<br></small>
                                    <small ng-show="Form.LastName.$invalid && Form.LastName.$touched && Form.LastName.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Street_Address.$invalid && Form.Street_Address.$touched && Form.Street_Address.$error.required">Required field.<br></small>
                                    <small ng-show="Form.Street_Address.$invalid && Form.Street_Address.$touched && Form.Street_Address.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Email:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="email" name="Email" ng-value="Email" ng-model="Email" ng-required="true" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/"></div>
                                <div class="col-md-2"><h5>Suburb:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="Suburb" ng-value="Suburb" ng-model="Suburb" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Email.$invalid && Form.Email.$touched && Form.Email.$error.required">Required field.<br></small>
                                    <small ng-show="Form.Email.$invalid && Form.Email.$touched && Form.Email.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Suburb.$invalid && Form.Suburb.$touched && Form.Suburb.$error.required">Required field.<br></small>
                                    <small ng-show="Form.Suburb.$invalid && Form.Suburb.$touched && Form.Suburb.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5>ID Number:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="ID_Number" ng-value="ID_Number" ng-model="ID_Number" ng-required="true" ng-pattern="/[0-9]{13}/"></div>
                                <div class="col-md-2"><h5>City:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="City" ng-value="City" ng-model="City" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.ID_Number.$invalid && Form.ID_Number.$touched && Form.ID_Number.$error.required">Required field.<br></small>
                                    <small ng-show="Form.ID_Number.$invalid && Form.ID_Number.$touched && Form.ID_Number.$error.pattern">Only numeric letters allowed and 13 charactors long.</small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.City.$invalid && FormCity.$touched && Form.City.$error.required">Required field.<br></small>
                                    <small ng-show="Form.City.$invalid && FormCity.$touched && Form.City.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5>DOB:</h5></div>
                                <div class="col-md-4"><div class="input-group date datepicker" style="padding:0px;">
                                                            <input class="form-control" type="text" id="DOB" name="DOB" ng-model="DOB" data-date-format="yyyy-mm-dd" ng-required="true" ng-readonly="true" style="background-color: transparent"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        </div></div>
                                <div class="col-md-2"><h5>Country:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewEmployee" type="text" name="Country" ng-value="Country" ng-model="Country" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.DOB.$invalid && Form.DOB.$touched && Form.DOB.$error.required">Required field.<br></small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Country.$invalid && Form.Country.$touched && Form.Country.$error.required">Required field.<br></small>
                                    <small ng-show="Form.Country.$invalid && Form.Country.$touched && Form.Country.$error.pattern">Only alphabetic letters allowed and atleast 3 charactors long.</small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5>Gender:</h5></div>
                                <div class="col-md-4"><select class="form-control disable_ViewEmployee readonly_ViewEmployee" ng-model="Gender" name="Gender" ng-required="true" ng-change="changedValueGetGender(Gender)" data-ng-options="gender as gender.Gender for gender in Genders | orderBy:'Gender'">
                                                            <option value="">{{Gender}}</option>
                                                        </select></div>
                                <div class="col-md-2"><h5>Employee Type:</h5></div>
                                <div class="col-md-4"><select class="form-control disable_ViewEmployee readonly_ViewEmployee" ng-model="ACCESSLEVEL_ID" name="ACCESSLEVEL_ID" ng-required="true" ng-change="changedValueGetAccessLevel(ACCESSLEVEL_ID)" data-ng-options="accessLevel as accessLevel.Level for accessLevel in AccessLevel | orderBy:'Level'">
                                                        <option value="">{{Employee_Type}}</option>
                                                      </select></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Gender.$invalid && Form.Gender.$touched && Form.Gender.$error.required">Required field.<br></small>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.ACCESSLEVEL_ID.$invalid && Form.ACCESSLEVEL_ID.$touched && Form.ACCESSLEVEL_ID.$error.required">Required field.<br></small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-2"><h5>Practice Name:</h5></div>
                                <div class="col-md-4"><select class="form-control disable_ViewEmployee readonly_ViewEmployee" ng-model="Practice_ID" name="Practice_ID" ng-required="true" ng-change="changedValueGetPractice_ID(Practice_ID)" data-ng-options="practice as practice.Name for practice in Practices | orderBy:'Name'">
                                                            <option value="">{{Practice_Name}}</option>
                                                        </select></div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <small ng-show="Form.Practice_ID.$invalid && Form.Practice_ID.$touched && Form.Practice_ID.$error.required">Required field.<br></small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="function_btnUpdateEmployee()" id="function_btnUpdateEmployee">Update</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteEmployee2()">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View Employee Modal Ends-->       
    </div>
</div>
<script>
    $(".datepicker").datepicker({ format: 'yyyy-mm-dd' });
</script>

