<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitle_ConsultationNotes}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/MedicalHistory"><i class="fa fa-align-justify"></i>Patient Record</a></li>
        </ul>

        <!-- Show Consultation Notes -->
        <form name="Form">
            <div style="margin:auto; width:90%">
                <div class="modal-header" style="border-bottom:0px;">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/MedicalHistory">Medical Record</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'"><a href="/PrescriptionDetails">Prescriptions</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'" class="active"><a href="/ConsultationNotes">Consultation Notes</a></li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="row" style="margin-top: 10px; margin-right: 10px;">
                        <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                        </div>
                    </div>
                    <div dir-paginate="ConsultationNote in ConsultationNotes | filter:search | itemsPerPage:1">
                        <div class="modal-body">
                            <div class="row" style="margin-top:8px; margin-bottom:8px;">
                                <div class="col-md-3"><label class="form-control-label">Consultation Date:</label></div>
                                <div class="col-md-3" style="margin-top:-6px;"><h5>{{ConsultationNote.Consultation_Date}}</h5></div>
                                <div class="col-md-3"><label class="form-control-label">Doctor's Name:</label></div>
                                <div class="col-md-3" style="margin-top:-6px;"><h5>{{ConsultationNote.Doctors_FirstName}}  {{ConsultationNote.Doctors_LastName}}</h5></div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label class="form-control-label">Reason for consultation:</label>
                                    <textarea class="form-control View_readonly" rows="3" cols="20" ng-model="ConsultationNote.Consultation_ReasonForConsultation" name="ReasonForConsultation" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label">Symptoms:</label>
                                    <textarea class="form-control View_readonly" rows="3" ng-model="ConsultationNote.Consultation_Symptoms" name="Symptoms" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label class="form-control-label">Clinical findings:</label>
                                    <textarea class="form-control View_readonly" rows="3" ng-model="ConsultationNote.Consultation_ClinicalFindings" name="ClinicalFindings" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label">Test Result Summary:</label>
                                    <textarea class="form-control View_readonly" rows="3" ng-model="ConsultationNote.Consultation_TestResultSummary" name="TestResultSummary" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label class="form-control-label">Diagnosis:</label>
                                    <textarea class="form-control View_readonly" rows="3" ng-model="ConsultationNote.Consultation_Diagnosis" name="Diagnosis" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label">Treatment plan:</label>
                                    <textarea class="form-control View_readonly" rows="3" ng-model="ConsultationNote.Consultation_TreatmentPlan" name="TreatmentPlan" ng-required="true" ng-pattern="/^[0-9a-zA-Z.,'-'\s]{3,}$/"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </form><!-- Show Consultation Notes Ends -->
    </div>
</div>
