<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitle_MedicalHistory}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/MedicalHistory"><i class="fa fa-align-justify"></i>Patient Record</a></li>
        </ul>

        <!--Show Medical History ~ View Patient Record-->        
        <form name="Form" data-ng-init="init()">
            <div style="margin:auto; width:90%">
                <div class="modal-header" style="border-bottom:0px;">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="/MedicalHistory">Medical Record</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'"><a href="/PrescriptionDetails">Prescriptions</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'"><a href="/ConsultationNotes">Consultation Notes</a></li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="modal-body">
                        <div class="row col-md-12" style="margin-top:6px; margin-bottom:6px;"><label class="caption-subject font-green-steel uppercase bold">General Information</label></div>
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <div class="col-md-1"><h5 class="form-control-label">First Name:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control View_readonly" name="FirstName" ng-model="FirstName" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            <div class="col-md-1"><h5 class="form-control-label">Last Name:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control  View_readonly" name="LastName" ng-model="LastName" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            <div class="col-md-1"><h5 class="form-control-label">Email:</h5></div>
                            <div class="col-md-3"><input type="email" class="form-control" name="Email" ng-model="Email" ng-readonly="true" style="background-color: transparent"></div>
                        </div>
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <div class="col-md-1"><h5>ID Number:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control  View_readonly" name="ID_Number" ng-model="ID_Number" ng-required="true" ng-pattern="/^[0-9]{13,13}$/"></div>
                            <div class="col-md-1"><h5>Cell Number:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control  View_readonly" name="Cell_Number" ng-model="Cell_Number" ng-required="true" ng-pattern="/^[0-9]{10,10}$/"></div>
                            <div class="col-md-1"><h5>DOB:</h5></div>
                            <div class="col-md-3"><div class="input-group date datepicker" style="padding:0px;">
                                                       <input class="form-control" type="text" ng-model="DOB" id="DOB" name="DOB" data-date-format="yyyy-mm-dd" ng-required="true" ng-readonly="true" style="background-color: transparent;"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                  </div></div>
                        </div>
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <div class="col-md-1"><h5>Gender:</h5></div>
                            <div class="col-md-3">
                                <select class="form-control disable_View_readonly View_readonly" ng-model="Gender" name="Gender" ng-required="true" ng-change="changedValueGetGender(Gender)" data-ng-options="gender as gender.Gender for gender in Genders | orderBy:'Gender'">
                                    <option value="">{{Gender}}</option>
                                </select>
                            </div>
                            <div class="col-md-1"><h5>Street Address:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control  View_readonly" name="Street_Address" ng-model="Street_Address" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            <div class="col-md-1"><h5>Suburb:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control  View_readonly" name="Suburb" ng-model="Suburb" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                        </div>
                        <div class="row" style="margin-top:8px; margin-bottom:15px; padding-bottom:15px; border-bottom: 1px solid #ddd;">
                            <div class="col-md-1"><h5>City:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control View_readonly" name="City" ng-model="City" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            <div class="col-md-1"><h5>Country:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control View_readonly" name="Country" ng-model="Country" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                        </div>
                        <div class="row col-md-12" style="margin-top:6px; margin-bottom:10px;"><label class="caption-subject font-green-steel uppercase bold">Insurance Information</label></div>
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <div class="col-md-1"><h5>Medical Aid Provider:</h5></div>
                            <div class="col-md-3"><select class="form-control disable_View_readonly View_readonly" ng-model="Medical_Aid_Name" name="Medical_Aid_Name" ng-required="true" ng-change="changedValueMedical_AidID(Medical_Aid_Name)" data-ng-options="medical_Aid as medical_Aid.Name for medical_Aid in Medical_Aid | orderBy:'Name'">
                                                        <option value="">{{Medical_Aid_Name}}</option>
                                                    </select>
                            </div>
                            <div class="col-md-1"><h5>Scheme Name:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control View_readonly" name="Scheme_Name" ng-model="Scheme_Name" ng-required="true" ng-pattern="/^[a-zA-Z''-'\s]{3,40}$/"></div>
                            <div class="col-md-1"><h5>Membership Number:</h5></div>
                            <div class="col-md-3"><input type="text" class="form-control View_readonly" name="Membership_Number" ng-model="Membership_Number" ng-required="true" ng-pattern="/[0-9]{3,}/"></div>
                        </div>
                        <div class="row" style="margin-top:8px; margin-bottom:15px; border-bottom: 1px solid #ddd;">
                            <div class="col-md-1"><h5>Registration Date:</h5></div>
                            <div class="col-md-3"><div class="input-group date datepicker" style="padding:0px;">
                                                        <input class="form-control" type="text" id="Registration_Date" ng-model="Registration_Date" name="Registration_Date" data-date-format="yyyy-mm-dd" ng-required="true" ng-readonly="true" style="background-color: transparent"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    </div></div>
                            <div class="col-md-1"><h5>Expiry Date:</h5></div>
                            <div class="col-md-3"><div class="input-group date datepicker" style="padding:0px;">
                                                        <input class="form-control" type="text" id="Deregistration_Date" ng-model="Deregistration_Date" name="Deregistration_Date" data-date-format="yyyy-mm-dd" ng-required="true" ng-readonly="true" style="background-color: transparent"><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    </div></div>
                            <div class="col-md-1"><h5>Account Status:</h5></div>
                            <div class="col-md-3"><input ng-class="{'font-green-steel bold' : Status}" type="text" class="form-control" name="Status" ng-model="Status" ng-readonly="true" style="background-color: transparent"></div>
                        </div>
                        <div class="row col-md-12" style="margin-top:6px; margin-bottom:10px;"><label class="caption-subject font-green-steel uppercase bold">Health Summary</label></div>
                        <div class="row" style="margin-top:8px; margin-bottom:0px;">
                            <div class="col-md-4"><h5>Allergies:</h5> <textarea class="form-control View_readonly" name="Allergies" ng-model="Allergies" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                            <div class="col-md-4"><h5>Previous Medication:</h5> <textarea class="form-control View_readonly" name="PreviousIllnesses" ng-model="PreviousIllnesses" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                            <div class="col-md-4"><h5>Previous Illnesses:</h5> <textarea class="form-control View_readonly" name="PreviousMedication" ng-model="PreviousMedication" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                        </div>
                        <div class="row" style="margin-top:8px;">
                            <div class="col-md-4"><h5>Risk Factors:</h5> <textarea class="form-control View_readonly" name="RiskFactors" ng-model="RiskFactors" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                            <div class="col-md-4"><h5>Social History:</h5> <textarea class="form-control View_readonly" name="SocialHistory" ng-model="SocialHistory" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                            <div class="col-md-4"><h5>Family History:</h5> <textarea class="form-control View_readonly" name="FamilyHistory" ng-model="FamilyHistory" rows="3" cols="20" ng-required="true" ng-pattern="/^[a-zA-Z.,''-'\s]{3,40}$/"></textarea></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- Show Medical History ~ View Patient Record Ends-->     
</div>