<div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitle_PrescriptionDetails}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/MedicalHistory"><i class="fa fa-align-justify"></i>Patient Record</a></li>
        </ul>

        <!-- Show Patients Prescriptions -->
        <form name="Form">
            <div style="margin:auto; width:90%">
                <div class="modal-header" style="border-bottom:0px;">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/MedicalHistory">Medical Record</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'" class="active"><a href="/PrescriptionDetails">Prescriptions</a></li>
                        <li role="presentation" ng-show="ConsultationNotes.length != '0'"><a href="/ConsultationNotes">Consultation Notes</a></li>
                    </ul>                    
                </div>
                <div class="panel panel-default">
                    <div class="row" style="margin-top: 10px; margin-right: 10px;">
                        <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                        </div>
                    </div>
                    <div dir-paginate="Prescription in PrescriptionDetails | filter:search | orderBy:sortKey:reverse | itemsPerPage:1">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6"><strong>Full Name: {{Prescription.Patient_FirstName}} {{Prescription.Patient_LastName}}</strong></div>
                                <div class="col-md-6"><strong>DOB: {{Prescription.Patient_DOB}}</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><strong>Doctor's Name: {{Prescription.Doctors_FirstName}} {{Prescription.Doctors_LastName}}</strong></div>
                            </div>

                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Diagnosis:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewPrescription" type="text" ng-model="Prescription.Consultation_Diagnosis" name="Diagnosis" ng-required="true" ng-pattern="/^[0-9a-zA-Z'.,'-'\s]{3,}$/"></div>
                                <div class="col-md-2"><h5>Drug Name:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewPrescription" type="text" ng-model="Prescription.Prescription_DrugDetails_DrugName" name="DrugName" ng-required="true" ng-pattern="/^[0-9a-zA-Z'.,'-'\s]{3,}$/"></div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Drug Strength:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewPrescription" type="text" ng-model="Prescription.Prescription_DrugDetails_Strength" name="Strength" ng-required="true" ng-pattern="/^[0-9a-zA-Z'.,'-'\s]{3,}$/"></div>
                                <div class="col-md-2"><h5>Intake Route:</h5></div>
                                <div class="col-md-4">
                                    <select class="form-control disable_ViewPrescription readonly_ViewPrescription" ng-model="Prescription.Prescription_DrugDetails_IntakeRoute" name="IntakeRoute" ng-required="true" ng-change="changedValueGetIntakeRoute(Prescription.Prescription_DrugDetails_IntakeRoute)" data-ng-options="IntakeRoute as IntakeRoute.Route for IntakeRoute in IntakeRoutez | orderBy:'Route'">
                                        <option value="">{{Prescription.Prescription_DrugDetails_IntakeRoute}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-2"><h5 class="form-control-label">Frequency:</h5></div>
                                <div class="col-md-4">
                                    <select class="form-control disable_ViewPrescription readonly_ViewPrescription" ng-model="Prescription.Prescription_DrugDetails_Frequency" name="Frequency" ng-required="true" ng-change="changedValueGetFrequency(Prescription.Prescription_DrugDetails_Frequency)" data-ng-options="Frequency as Frequency.Freq for Frequency in Frequencyz | orderBy:'Freq'">
                                        <option value="">{{Prescription.Prescription_DrugDetails_Frequency}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2"><h5>Dispense Number:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewPrescription" type="text" ng-model="Prescription.Prescription_DrugDetails_DispenseNumber" name="DispenseNumber" ng-required="true" ng-pattern="/^[0-9]{1,}$/"></div>
                            </div>
                            <div class="row" style="margin-top:8px; margin-bottom:0px;">
                                <div class="col-md-2"><h5>Refill Number:</h5></div>
                                <div class="col-md-4"><input class="form-control readonly_ViewPrescription" type="text" ng-model="Prescription.Prescription_DrugDetails_RefillNumber" name="RefillNumber" ng-required="true" ng-pattern="/^[0-9]{1,}$/" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                    </div>
                </div>
             </div>
        </form><!-- Show Prescriptions Ends -->
    </div>
</div>
