.portlet.light{padding:12px 20px 15px;background-color:#fff}
.portlet{margin-top:0;margin-bottom:25px;padding:0;border-radius:4px}
.portlet{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px}

/*a,button,code,div,img,input,label,li,p,pre,select,span,svg,table,td,textarea,th,ul{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important}
*/
.portlet-title{padding:0;min-height:48px}
.portlet-title:after{clear:both}
.portlet>.portlet-title:after,.portlet>.portlet-title:before{content:" ";display:table}
.portlet>.portlet-title{border-bottom:1px solid #eee;padding:0;margin-bottom:10px;min-height:41px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-ms-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.portlet.light>.portlet-title>.caption{color:#666;padding:10px 0}
.portlet>.portlet-title>.caption{float:left;display:inline-block;font-size:18px;line-height:18px;padding:10px 0}
.portlet-title>.caption.caption-md>i{font-size:14px}
.portlet.light>.portlet-title>.caption>i{color:#777;font-size:15px;font-weight:300;margin-top:3px}
.portlet>.portlet-title>.caption>i{float:left;margin-top:4px;display:inline-block;font-size:13px;margin-right:5px;color:#666}
.icon-bar-chart:before{content:"\e077"}
.font-dark{color:#2f353b!important}

/*[class*=" fa-"]:not(.fa-stack),[class*=" glyphicon-"],[class*=" icon-"],[class^=fa-]:not(.fa-stack),[class^=glyphicon-],[class^=icon-]{display:inline-block;line-height:14px;-webkit-font-smoothing:antialiased}
*/
.icon-action-redo,.icon-action-undo,.icon-anchor,.icon-arrow-down,.icon-arrow-left,.icon-arrow-right,.icon-arrow-up,.icon-badge,.icon-bag,.icon-ban,.icon-bar-chart,.icon-basket,.icon-basket-loaded,.icon-bell,.icon-book-open,.icon-briefcase,.icon-bubble,.icon-bubbles,.icon-bulb,.icon-calculator,.icon-calendar,.icon-call-end,.icon-call-in,.icon-call-out,.icon-camcorder,.icon-camera,.icon-check,.icon-chemistry,.icon-clock,.icon-close,.icon-cloud-download,.icon-cloud-upload,.icon-compass,.icon-control-end,.icon-control-forward,.icon-control-pause,.icon-control-play,.icon-control-rewind,.icon-control-start,.icon-credit-card,.icon-crop,.icon-cup,.icon-cursor,.icon-cursor-move,.icon-diamond,.icon-direction,.icon-directions,.icon-disc,.icon-dislike,.icon-doc,.icon-docs,.icon-drawer,.icon-drop,.icon-earphones,.icon-earphones-alt,.icon-emoticon-smile,.icon-energy,.icon-envelope,.icon-envelope-letter,.icon-envelope-open,.icon-equalizer,.icon-eye,.icon-eyeglasses,.icon-feed,.icon-film,.icon-fire,.icon-flag,.icon-folder,.icon-folder-alt,.icon-frame,.icon-game-controller,.icon-ghost,.icon-globe,.icon-globe-alt,.icon-graduation,.icon-graph,.icon-grid,.icon-handbag,.icon-heart,.icon-home,.icon-hourglass,.icon-info,.icon-key,.icon-layers,.icon-like,.icon-link,.icon-list,.icon-lock,.icon-lock-open,.icon-login,.icon-logout,.icon-loop,.icon-magic-wand,.icon-magnet,.icon-magnifier,.icon-magnifier-add,.icon-magnifier-remove,.icon-map,.icon-microphone,.icon-mouse,.icon-moustache,.icon-music-tone,.icon-music-tone-alt,.icon-note,.icon-notebook,.icon-paper-clip,.icon-paper-plane,.icon-pencil,.icon-picture,.icon-pie-chart,.icon-pin,.icon-plane,.icon-playlist,.icon-plus,.icon-pointer,.icon-power,.icon-present,.icon-printer,.icon-puzzle,.icon-question,.icon-refresh,.icon-reload,.icon-rocket,.icon-screen-desktop,.icon-screen-smartphone,.icon-screen-tablet,.icon-settings,.icon-share,.icon-share-alt,.icon-shield,.icon-shuffle,.icon-size-actual,.icon-size-fullscreen,.icon-social-dribbble,.icon-social-dropbox,.icon-social-facebook,.icon-social-tumblr,.icon-social-twitter,.icon-social-youtube,.icon-speech,.icon-speedometer,.icon-star,.icon-support,.icon-symbol-female,.icon-symbol-male,.icon-tag,.icon-target,.icon-trash,.icon-trophy,.icon-umbrella,.icon-user,.icon-user-female,.icon-user-follow,.icon-user-following,.icon-user-unfollow,.icon-users,.icon-vector,.icon-volume-1,.icon-volume-2,.icon-volume-off,.icon-wallet,.icon-wrench{font-family:Simple-Line-Icons;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.caption.caption-md>.caption-subject{font-size:15px}
.portlet.light>.portlet-title>.caption>.caption-subject{font-size:16px}
.font-green-steel{color:#29b4b6!important}
.uppercase{text-transform:uppercase!important}
.bold{font-weight:700!important}
.caption-helper{padding:0;margin:0;line-height:13px;color:#9eacb4;font-size:13px;font-weight:400}
.portlet.light>.portlet-title>.actions{padding:6px 0 14px}
.portlet>.portlet-title>.actions{float:right;display:inline-block;padding:6px 0}
.portlet>.portlet-title>.actions>.btn,.portlet>.portlet-title>.actions>.btn-group>.btn,.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,.portlet>.portlet-title>.actions>.btn.btn-sm{padding:4px 10px;font-size:13px;line-height:1.5}
.btn.btn-outline.blue-oleo.active,.btn.btn-outline.blue-oleo:active,.btn.btn-outline.blue-oleo:active:focus,.btn.btn-outline.blue-oleo:active:hover,.btn.btn-outline.blue-oleo:focus,.btn.btn-outline.blue-oleo:hover{border-color:#94A0B2;color:#FFF;background-color:#94A0B2}
.btn-group.btn-group-devided>.btn{margin-right:5px}
.btn.btn-outline.blue-oleo{border-color:#94A0B2;color:#94A0B2;background:0 0}
.btn-circle{border-radius:25px!important;overflow:hidden}
.btn{outline:0!important}
.btn,.form-control{box-shadow:none!important}
.portlet.light .portlet-body{padding-top:8px}
.portlet>.portlet-body{clear:both;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-ms-border-radius:0 0 4px 4px;-o-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.list-separated{margin-top:10px;margin-bottom:15px}
.list-separated{margin-top:10px;margin-bottom:15px}
.font-grey-mint{color:#525e64!important}
.font-sm{font-size:13px}
.font-red-flamingo{color:#EF4836!important}
.font-hg{font-size:23px}
.uppercase{text-transform:uppercase!important}
.font-grey-mint{color:#525e64!important}
.font-lg{font-size:18px}
.font-grey-mint{color:#525e64!important}
.font-sm{font-size:13px}
.font-grey-mint{color:#525e64!important}
.font-purple{color:#8E44AD!important}
.font-blue-sharp{color:#5C9BD1!important}