<div>
    <div id="page-wrapper" ng-controller="MessagesController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">Messages</h2>
            </div>
        </div>       

        <div class="right_side message">
            <div class="row mailbox-header">
                <div class="col-md-2">
                    <a class="btn btn-info btn-block" href="#" ng-click="FunctionComposeMessage()">Compose</a>
                </div>
                <div class="col-md-8"><h2 style="margin-top:0px;" id="h2_ContentHeading">Inbox</h2></div>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled mailbox-nav">
                    <li><a href="#" ng-click="FunctionInbox()"><i class="fa fa-inbox"></i> Inbox<span class="badge badge-success pull-right">1</span></a></li>
                    <li><a href="#" ng-click="FunctionSent()"><i class="fa fa-sign-out"></i> Sent</a></li>
                </ul>
            </div>

            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <!--Message list (Inbox Table) -->
            <div id="div_Message_list" class="col-md-10">
                <table class="table table-hover">
                    <thead style="background-color: #f8f8f8;">
                        <tr>
                            <th style="width: 15%;" ng-click="sort('Sender')">From<span class="fa sort-icon" ng-show="sortKey=='Sender'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                            <th style="width: 15%;" ng-click="sort('Subject')">Subject<span class="fa sort-icon" ng-show="sortKey=='Subject'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                            <th style="width: 45%;" ng-click="sort('Description')">Message<span class="fa sort-icon" ng-show="sortKey=='Description'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                            <th style="width: 15%;" ng-click="sort('Date')">Date<span class="fa sort-icon" ng-show="sortKey=='Date'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span></th>
                            <th style="width: 10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="Message in Messages | filter:search | orderBy:sortKey:reverse | itemsPerPage:5">
                            <td>{{Message.Sender}}</td>
                            <td>{{Message.Subject}}</td>
                            <td>{{Message.Description}}</td>
                            <td>{{Message.Date}}</td>
                            <td>
                                <button class="btn btn-info btn-xs" id="FunctionMessage_Reply" onclick="FunctionMessage_Reply()" href="#"><i class="fa fa-reply"></i></button>
                                <button class="btn btn-danger btn-xs" onclick="FunctionMessage_Delete()"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <dir-pagination-controls class="pull-right" max-size="5" direction-links="true" boundary-links="true" style="margin-right: 20px;"></dir-pagination-controls>
                    </div>
                </div>
            </div><!--Message list (Inbox Table) Ends -->

            <!--Compose message div begins-->
            <div id="div_Compose_Message" class="col-md-10">
                <div class="panel panel-default col-sm-10" style="padding-right:20px; border:0px;">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2" for="inputTo">To</label>
                            <div class="col-sm-10"><select name="receiver" class="form-control validate[required] text-input" id="to">
                                                        <option value="patient">All Patient</option>
                                                        <option value="doctor">All Doctor</option>
                                                        <option value="nurse">All Nurse</option>
                                                        <option value="receptionist">All Support Staff</option>
                                                        <option value="pharmacist">All Pharmacist</option>
                                                        <option value="laboratorist">All Laboratory Staff</option>
                                                        <option value="accountant">All Accountant</option>
                                                    </select></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="inputSubject">Subject</label>
                            <div class="col-sm-10"><input class="form-control insert" id="inputSubject" placeholder="Subject" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" for="inputBody">Message</label>
                            <div class="col-sm-12"><textarea class="form-control insert" id="inputBody" rows="8"></textarea></div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-warning pull-left">Save Draft</button>
                        <button type="button" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                    </div>
                </div>
            </div><!--Compose message div Ends-->
        </div>

        <!--View_SelectedInboxMail Modal-->
        <div id="View_SelectedInboxMail" class="modal fade">
            <form>
                <div class="modal-dialog" style="width:50%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">View Message</h4>
                        </div>
                        <div class="modal-body">
                            <div class="mailbox-content form-horizontal">
                                <input type="hidden" name="action" value="insert">
                                <div class="form-group">
                                    <label class="col-sm-2" for="inputTo">To</label>
                                    <div class="col-sm-10"><input class="form-control" id="inputTo" placeholder="List of recipients" type="email"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2" for="inputSubject">Subject</label>
                                    <div class="col-sm-10"><input class="form-control" id="inputSubject" placeholder="Subject" type="text"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12" for="inputBody">Message</label>
                                    <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info btn-xs" id="FunctionMessage_Reply" onclick="FunctionMessage_Reply()" href="#"><i class="fa fa-reply"></i></button>
                                <button class="btn btn-danger btn-xs" onclick="FunctionMessage_Delete()"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View_SelectedInboxMail Modal Ends  -->

        <!--Sent Modal-->
        <div id="div_Sent_list" class="col-md-10">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Recepient</th>
                            <th>Message Body</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ondblclick="tr_dblclick_SentMail()">
                            <td>john@example.com</td>
                            <td>Message....</td>
                            <td>07-08-2016</td>
                            <td><button class="btn btn-info btn-xs" id="FunctionMessage_Reply" onclick="FunctionMessage_Reply()" href="#"><i class="fa fa-reply"></i></button></td>
                            <td><button class="btn btn-danger btn-xs" onclick="FunctionMessage_Delete()"><i class="fa fa-trash-o"></i></button></td>
                        </tr>
                        <tr ondblclick="tr_dblclick_SentMail()">
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                            <td><button class="btn btn-info btn-xs" id="FunctionMessage_Reply" onclick="FunctionMessage_Reply()" href="#"><i class="fa fa-reply"></i></button></td>
                            <td><button class="btn btn-danger btn-xs" onclick="FunctionMessage_Delete()"><i class="fa fa-trash-o"></i></button></td>
                        </tr>
                        <tr ondblclick="tr_dblclick_SentMail()">
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                            <td><button class="btn btn-info btn-xs" id="FunctionMessage_Reply" onclick="FunctionMessage_Reply()" href="#"><i class="fa fa-reply"></i></button></td>
                            <td><button class="btn btn-danger btn-xs" onclick="FunctionMessage_Delete()"><i class="fa fa-trash-o"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--Sent Modal Ends  -->
    </div>
</div>