 <div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">Dashboard</h2>
            </div>
        </div>

        <!-- 1st row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Appointments</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Appointments">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-o fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numTodayApps}}</div>
                                    <div>Today's Appointments</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Appointments</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Appointments">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-o fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numTomorrowApps}}</div>
                                    <div>Tomorrow's Appointments</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Profile</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Profile">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{SessionData_FirstName}} {{SessionData_LastName}}</div>
                                    <div>{{SessionData_Email}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.1st row -->
        <!-- 2nd row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Messages</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Profile">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envelope-o fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{NumOfUnReadMessages}}</div>
                                    <div>New Messages</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Invoices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Prefered Doctor</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.2nd row -->
        <!-- 3rd row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Partially-Paid Invoices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Accounting">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numOfPatiallyPaid}}</div>
                                    <div>Partially-Paid Invoices</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Un-Paid Invoices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Accounting">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numOfUnPaid}}</div>
                                    <div>Un-Paid Invoices</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Monthly Income Stats</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.3rd row -->
    </div>
</div>
