 <div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">Dashboard</h2>
            </div>
        </div>

        <!-- 1st row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Appointments</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Appointments">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-o fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numTodayApps}}</div>
                                    <div>Today's Appointments</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Appointments</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Appointments">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-o fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numTomorrowApps}}</div>
                                    <div>Tomorrow's Appointments</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Profile</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/UserProfile">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{SessionData_FirstName}} {{SessionData_LastName}}</div>
                                    <div>{{SessionData_Email}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.1st row -->
        <!-- 2nd row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Messages</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Messages">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envelope-o fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{NumOfUnReadMessages}}</div>
                                    <div>New Messages</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Medical Aid</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="#">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-medkit fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Medical aid: {{Medical_Aid_Name}}</div><br>
                                    <div>Validity status: {{Status}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Prefered Doctor</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="#">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-md fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right" onclick="ChangeDocModal()">
                                    <div>Dr. {{Doctors_FirstName}} {{Doctors_LastName}}</div>
                                    <br>
                                    <div>Practice: {{Practice_Aid_Name}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.2nd row -->
        <!-- 3rd row -->
        <div class="row">
            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Partially-Paid Invoices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Accounting">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numOfPatiallyPaid}}</div>
                                    <div>Partially-Paid Invoices</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Un-Paid Invoices</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="/Accounting">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-4x" style="color: #337ab7"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{numOfUnPaid}}</div>
                                    <div>Un-Paid Invoices</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light" style="border: 1px solid #ddd; border-radius: 4px; height: 150px;">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Medical Record</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <a href="/MedicalHistory">
                                <div class="col-xs-3">
                                    <i class="fa fa-heartbeat fa-4x" style="color: #337ab7"></i>
                                </div>
                            </a>

                            <div class="col-xs-9 text-right">
                                <div class="row">
                                    <a href="/PrescriptionDetails"><div>Prescriptions <i class="fa fa-arrow-circle-right fa-fw" style="color: #337ab7"></i></div></a>
                                </div>
                                <br>
                                <div class="row">
                                    <a href="/ConsultationNotes"><div>Consultation Notes <i class="fa fa-arrow-circle-right fa-fw" style="color: #337ab7"></i></div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.3rd row -->

        <div id="ChangeDocModal" class="modal fade">
            <form name="Form" novalidate>
                <div class="modal-dialog" style="width:50%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Change Doctor</h4>
                        </div>
                        <div class="modal-body">                            
                            <div class="row" style="margin-top:4px; margin-bottom:0px;">
                                <div class="col-md-3"><h5>Select Doctor:</h5></div>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="Doctors_ID" name="DoctorName" ng-required="true" ng-change="changedValueGetDoctors_ID(Doctors_ID)" data-ng-options="doctor as doctor.DoctorFullName for doctor in Doctors | orderBy:'DoctorFullName'">
                                        <option value="">{{Doctors_FirstName}} {{Doctors_LastName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:0px; margin-bottom:8px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <small ng-show="Form.DoctorName.$invalid && Form.DoctorName.$touched && Form.DoctorName.$error.required">Required field.<br></small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="UpdatePreferedDoctor()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
