<div>
    <div id="page-wrapper" ng-controller="PracticesController">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-primary">{{PageTitle_Practices}}</h2>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/Practices"><i class="fa fa-align-justify"></i>Practice List</a></li>
            <li role="presentation"><a href="/NewPractice"><i class="fa fa-plus-circle"></i>New Practice</a></li>
        </ul>

        <div class="panel panel-default">
            <div class="row" style="margin-top: 10px; margin-right: 10px;">
                <div class="col-md-4"></div><div class="col-md-4"><h5 class="pull-right">Search:</h5></div>
                <div class="form-group col-md-4">                    
                    <input class="form-control" type="text" style="font-size:13px;" ng-model="search">
                </div>
            </div>

            <table class="table table-hover">
                <thead style="background-color: #f8f8f8;">
                    <tr>
                        <th style="width: 15%;" ng-click="setSortKey('Name')">Name</th>
                        <th style="width: 15%;" ng-click="setSortKey('Phone_Number')">Phone Number</th>
                        <th style="width: 15%;" ng-click="setSortKey('Fax_Number')">Fax Number</th>
                        <th style="width: 20%;" ng-click="setSortKey('Street_Address')">Physical Address</th>
                        <th style="width: 20%;" ng-click="setSortKey('Trading_Times')">Trading Times</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Practice in Practices | filter:search | limitTo : getlimitTo() | orderBy : getSortKey()">
                        <td>{{Practice.Name}}</td>
                        <td>{{Practice.Phone_Number}}</td>
                        <td>{{Practice.Fax_Number}}</td>
                        <td>{{Practice.Street_Address}}{{Practice.Suburb}}{{Practice.City}}{{Practice.Country}}</td>
                        <td>{{Practice.Trading_Times}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ViewPractice(Practice.ID)" onclick="ViewPractice()"><i class="glyphicon glyphicon-new-window"></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="DeletePractice(Practice.ID)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    <ul class="pagination">
                        <li><a ng-click="setlimitTo(5)">5</a></li>
                        <li><a ng-click="setlimitTo(10)">10</a></li>
                        <li><a ng-click="setlimitTo(50)">50</a></li>
                        <li><a ng-click="setlimitTo(100)">100</a></li>
                        <li><a ng-click="setlimitTo(1000000)">all</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--View Pratice Modal-->
        <div id="View_Practice_Modal" class="modal fade">
            <form>
                <div class="modal-dialog" style="width:40%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-primary">Practice Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Name:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Name"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Phone Number:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Phone_Number"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Fax Number:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Fax_Number"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Street Address:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Street_Address"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Suburb:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Suburb"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">City:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="City"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Country:</h5>
                                <div class="col-md-8"><input class="form-control readonly_ViewPractice" type="text" ng-model="Country"></div>
                            </div>
                            <div class="row" style="margin-top:5px; margin-bottom:5px;">
                                <h5 class="col-md-3">Trading Times:</h5>
                                <div class="col-md-8"><textarea class="form-control readonly_ViewPractice" rows="3" cols="20" ng-model="Trading_Times"></textarea></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="function_btnUpdatePractice(Practice.ID)" id="function_btnUpdatePractice">Update</button>
                            <button type="button" class="btn btn-danger" ng-click="function_btnDeletePractice(Practice.ID)">Delete</button>   
                        </div>
                    </div>
                </div>
            </form>
        </div><!--View Pratice Modal Ends-->
    </div>
</div>

