<div id="page-wrapper" ng-controller="DiagnosisExpertSystemController">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-primary">Expert System</h2>
        </div>

        <h4>Do have any of these Signs of these Symptoms?</h4>

        <div ng-repeat="sym in Symp" class="col-lg-12">
            <p><a data-toggle="modal" data-target="#myModal">{{sym.name}}</a>
            </p>
        </div>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Test</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
